<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>libical</string>
	<key>CFBundleGetInfoString</key>
	<string>libical v1.1 © 2011 Arts Management Systems</string>
	<key>CFBundleIdentifier</key>
	<string>com.artsmanagement.component.libical</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>OO$$</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
